/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}
.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

body {
  /* 亮色时用 zinc-50，深色时用纯黑 */
  @apply bg-zinc-50 text-zinc-900 dark:bg-black dark:text-ios-text;
  overscroll-behavior-y: none;
}
